@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
	background-image: url('background.jpg'); /* Ustawienie obrazu jako tła */
    background-size: cover; /* Dopasowanie obrazu do całego obszaru */
    background-position: center; /* Wyśrodkowanie obrazu */
	font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive; /* Tylko nagłówki h1 i h2 używają czcionki Pacifico */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

ul {
	font-family: 'Pacifico', cursive;
    padding-left: 20px; /* Odstęp od lewej */
    margin: 10px 0; /* Górny i dolny margines */
    color: red; /* Kolor tekstu */
	font-size: 28px;
	border: 2px solid black; /* Dodanie obramowania */
}

main {
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
	font-family: 'Pacifico', cursive;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}
