body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-image: url('I:/ai/Ai1-lab/lab1/cpp.png'); /* Podaj ścieżkę do tła */
    background-size: cover; /* Dopasowuje tło do rozmiaru okna */
    background-repeat: no-repeat; /* Nie powtarza tła */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}
