@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Courier New', monospace;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
	background-image: url('background2.jpg'); /* Ustawienie obrazu jako tła */
    background-size: cover; /* Dopasowanie obrazu do całego obszaru */
    background-position: center; /* Wyśrodkowanie obrazu */
	font-size: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
    display: table;
    width: 100%; /* Szerokość tabeli */
    border-collapse: collapse; /* Usuń odstępy między komórkami */
    margin: 0;
    padding: 0;
	color: blue;
	font-size: 28px;
}

ul li {
    display: table-row; /* Każdy element listy jako wiersz tabeli */
    /*border: 1px solid #ccc; /* Obramowanie wiersza */
}

ul li::before {
    content: ''; /* Usuń punktor listy */
}

ul li {
    text-align: center; /* Wyśrodkowanie tekstu */
}

ul li:nth-child(even) {
    background-color: #f93456; /* Zmiana tła co drugi wiersz */
}


main {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
	
}

h1, h2, h3 {
    color: #333;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

h1{
	font-size: 70px;
}
h2{
	font-size: 60px;
}
h3{
	font-size: 50px;
}

p {
    line-height: 1.6;
}


h2 {
    border: 2px solid black; /* Dodanie obramowania */
}
